<style>

    .mappi_s {
    height: 100%;
    width: 100%;
    background-position: center;
    position: absolute;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.9) 100%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, .70) 50%, rgba(0, 0, 0, .80) 90%, rgba(0, 0, 0, 0.9) 100%), url(/assetimage/bgim.jpg);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.9) 100%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, .70) 50%, rgba(0, 0, 0, .80) 90%, rgba(0, 0, 0, 0.9) 100%), url(/assetimage/bgim.jpg);
    background-size: cover;
    }
    
</style>
<div class="texts_in"><i id="ok" class="fa fa-check-circle"></i><span class='infosi'><%=terjemahan.SUK%><span class="mni"><%=terjemahan.RE%></span></span></div>
<div class="mappi_s">
    <div style="
    background: url(/assetimage/grid.png);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
"></div>
    
    
  <div class="title_k"><%=terjemahan.KON%>
     <div class="langs">
                   <ul>
                        <li><a class="en" href="?clang=en"  data-id="En"  >English</a></li>
                        <li><a   class="id"  href="?clang=id" data-id="ind"  >Indonesia</a></li>
                    </ul>
                </div>
    </div>
     
   
    <div id="lp" class="mapouter"><div class="gmap_canvas"><iframe width="558" height="500" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7930.7521806398645!2d106.74567141993882!3d-6.34531878726135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69ef0af553e93f%3A0x5505f83dcd41833a!2sSafari+Dharma+Raya!5e0!3m2!1sid!2sid!4v1536889557255" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:558px;}</style>
    
    
    <div class="offic">Office</div> <div class="worka lmp">Workshop</div>
    
    
    </div>
    
    
    
    
</div>
  
    <div class="form_warp-c">
    
    
    <form id="kontak" class="mailling">
        <span class="pnwr"> 
            <i id="wrs" class="fa fa-male"></i>
        <input type="text" id="name" maxlength="20" class="n_mail" name="nama" placeholder="<%=terjemahan.NAMA%>">
            
        </span>
        
        <span class="pnwr">
            <i id="wrs" class="fa fa-envelope"></i>
                <input id="mail" type="email" maxlength="50" class="n_mail" name="email" placeholder="<%=terjemahan.EMAIL%>">
</span>
             <span class="pnwr">
                 <i id="wrs" class="fa fa-phone-square"></i>
                <input type="text" id="tlp" maxlength="20" class="n_mail" name="notelp" placeholder="<%=terjemahan.TELEPON%>">
</span>
        
        
           <span class="pnwr">
               <i id="wrs" class="fa fa-pen-alt"></i>
               <textarea type="text" maxlength="200" id="pesan_isi-c" class="n_mail" name="isi_k"></textarea>
</span>
        
        <button class="sendme"><%=terjemahan.KIRIM%></button>
        </form>
    
         
         <div id="kl" class="mapouter">
             
               <div class="offica">Office</div> <div class="workaa lmp">Workshop</div>
             
             <div class="gmap_canvas" style="width: 100%;"><iframe style="width: 100%;" width="558" height="500" class="gmap_canvasa" id="gmap_canvas" src="https://maps.google.com/maps?q=Jl.%20R.E.%20Martadinata%20No.43%2C%20RT.3%2FRW.9%2C%20Pd.%20Cabe%20Udik%2C%20Pamulang%2C%20Kota%20Tangerang%20Selatan%2C%20Banten%2015418&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:558px;}</style>  
        
        
        
       
        
        </div>
        
        
        
    </div>
    
 