<div class="texts_in">
    <i id="ok" class="fa fa-check-circle"></i><span class="infosi">Your message has been sent succesfully<span class="mni">as soon as we will reply</span></span>
</div>
<div class="texts_ine"><i id="ok" class="fa fa-close"></i><span class="infosi"><%=terjemahan.ERORSUB%><span class="mni"><%=terjemahan.ERORSUBMNI%></span></span>
</div>
<div class="warp_bottom" <% if (pagename==='Project' ) { %>style=" top: 200px; "
    <% } %>>
        <div class="foot_con">

            <div class="bottom_view">


                <div class="mid_search_bt">
                    <p>
                        <%=terjemahan.FOLOW%>
                    </p>

                    <a href="https://twitter.com/XBuzOtoMediaKr1" target="_blank"><i id="twt" class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/x.buz.50" target="_blank"><i id="fb" class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/xbuz_media/" target="_blank"><i id="ig" class="fa fa-instagram" aria-hidden="true"></i></a>
                     <a href="https://id.pinterest.com/xtraordinarybuz/" target="_blank"><i id="ps" class="fa fa-pinterest" aria-hidden="true"></i></a>
 
                    
                    <div class="lgt"></div>
                    
                    
                </div>

                <div class="mid_sos_bt">
                    <p>
                        <%=terjemahan.SUB%>
                    </p>
                    <form id="subme" class="form-inline">
                        <input type="email" id="submetext" name="subtextme" class="form-control-bt" placeholder="<%=terjemahan.SUBB%>">
                        <button class="subcri"><%=terjemahan.SUBB%></button>
                    </form>

                    <address class="addrs"><span class="ttlxs" style="display: block;margin-bottom: 10px;">Office</span>PT. OTO MEDIA KREASI<span class="title_addr">Komplek Ruko Pondok Pinang I/BB/7<span class="text_ar">Jl. Ciputat Raya No. 40 RT. 001 RW. 007</span><span class="tel">Kel. Pondok Pinang, Kec. Kebayoran Lama Jakarta Selatan</span></span></address>


                    <address class="addrs"><span class="ttlxs" style="display: block;margin-bottom: 10px;">Workshop</span> <span class="title_addr">JL. RE martadinata Ciputat No.43, RT.3/RW.9<span class="text_ar">Pd.Cabe Udik, Pamulang, Kota Tangerang Selatan, Banten 15418</span><span class="tel">021 2274 4768</span></span></address>









                </div>



                <div class="bottom_p_s">

                    <div class="lang">
                        <i id="gl" class="fa fa-globe" aria-hidden="true"></i>

                        <ul>

                            <li><a class="en" href="?clang=en" data-id="En">English</a></li>
                            <li><a class="id" href="?clang=id" data-id="ind">Indonesia</a></li>

                        </ul>

                    </div>
                    <div class="lnk">
                        <ul>
                            <li><a id="tens" <% if (pagename==='about' ) { %>style=" color: #bb883c;" <% } %>  target="_self"><%=terjemahan.TEN%></a></li>
                            <li><a  id="glo" <% if (pagename==='artikel' ) { %>style=" color: #bb883c;" <% } %> target="_self"><%=terjemahan.ARTI%></a></li>
                            <li><a  id="glas" <% if (pagename==='galery' ) { %>style=" color: #bb883c;" <% } %> target="_self"><%=terjemahan.GAL%></a></li>
                            <li><a  id="projt" <% if (pagename==='Project' ) { %>style=" color: #bb883c;" <% } %> target="_self"><%=terjemahan.PROJECT%></a></li>
                            <li><a  id="vid" <% if (pagename==='video' ) { %>style=" color: #bb883c;" <% } %> target="_self">Video</a></li>
                            <li><a  id="karr" <% if (pagename==='karir' ) { %>style=" color: #bb883c;" <% } %> target="_self"><%=terjemahan.KARR%></a></li>

                            <li><a  id="kons" <% if (pagename==='kontak' ) { %>style=" color: #bb883c;" <% } %> target="_self"><%=terjemahan.KON%></a>
                                <li>
                                    <a id="glo" target="_self">
                                        <%=terjemahan.WELCOME_MSG%>
                                    </a>
                                </li>

                        </ul>

                    </div>
                </div>

            </div>


            <div id="top"><i class="fa fa-chevron-up"></i></div>


        </div>
</div>
