
    <%- include('m_dpro') %>


<% 
    if(!datas){
        %>
    <div class="nopage"><i id="fro" class="fa fa-frown-o"></i><%=terjemahan.GALAT%></div>

    <% }else{ %>
<style>
 .mappi_c {
    height: 320px;
     position: relative;
     background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.9) 100%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, .70) 50%, rgba(0, 0, 0, .80) 90%, rgba(0, 0, 0, 0.9) 100%), url(/projectimage/<%= image[0].uri_gambar %>);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.9) 100%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, .70) 50%, rgba(0, 0, 0, .80) 90%, rgba(0, 0, 0, 0.9) 100%), url(/projectimage/<%= image[0].uri_gambar %>);
    background-size: cover;
}
</style>
 <div class="wrpsx" style="position: relative;
    height: 350px;
    overflow: hidden; ">
       <div style="
    background: url(/assetimage/grid.png);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
"></div>
    <section class="mappi_c parallax parallax__bg">
     
    </section>
        <div class="title_k">
            <%= title %>
                <div class="langs">
                    <ul>
                        <li><a class="en" href="?clang=en" data-id="En">English</a></li>
                        <li><a class="id" href="?clang=id" data-id="ind">Indonesia</a></li>
                    </ul>
                </div>
        </div>
    </div>
        <main class="main" style="padding: 10px;">


            <%
    datas.forEach(function( a ) { 
        var ga 
        if(!a.imgurl){
            ga = '/assetimage/noa.jpg'
        }else{
            ga = '/projectimage/' + a.imgurl
        }
        
        %>

                <figure class="figure1 imghvr-slide-up" >
                    <img class="figure-img" src="<%= ga %>" alt="<%= a.titpro %>">
                     <figcaption class="tp_g">
                         <div class="t_ml"> <%= a.titpro %></div>
                             <div class="looks" data-id="<%= a.id %>"><%= terjemahan.LIHAT %></div>
  </figcaption>
                </figure>


                <%
    }) 
        
    %>

        </main>
        <%
 }%>


            <div class="paggbtn_c">
                <% if (pageCount > 1) { %>
                    <ul class="pagination">
                        <% var i = 1;
	            if (currentPage > 5) {
	                i = +currentPage - 4;
	            } %>
                            <% if (i !== 1) { %>
                                <li class="disabled" style=" width: 50px;
    border-radius: 3px;"><div  data-v="<%= num %>" data-p="1" id="linp">...</div></li>
                                <% } %>
                                    <% for (i; i<=pageCount; i++) { %>
                                        <% if (currentPage == i) { %>
                                            <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span>
                                            </li>
                                            <% } else { %>
                                                <li>
                                                    <div  data-v="<%= num %>" data-p="<%= i %>" id="linp" >
                                                        <%= i %>
                                                    </div>
                                                </li>
                                                <% } %>
                                                    <% if (i == (+currentPage + 4)) { %>
                                                        <li class="disabled" style=" width: 50px;
    border-radius: 3px;"><div id="linp" data-v="<%= num %>" data-p="<%= pageCount %>" >...</div></li>
                                                        <% break; } %>
                                                            <% } %>

                    </ul>
                    <% } %>
            </div>
