<!doctype html>
<html  itemscope itemtype='http://schema.org/ItemPage'>
<head>
   <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title> Xbuz | About page</title>
     <%- include('partials/sos') %>
    <%- include('partials/meta') %>
</head>
<body id="body">
    <%- include('partials/header') %>
        <%- include('partials/midlabout') %>
            <%- include('partials/footer') %>
</body>
</html>
