<!doctype html>
<html itemscope itemtype='http://schema.org/SearchResultsPage'>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title> Xbuz | Article page</title>
    <%- include('partials/meta') %>
    <%- include('partials/sos') %>
</head>

<body id="body">
     
 
    <%- include('partials/header') %>
    
    <%- include('partials/artikelk') %>
           <%- include('partials/footer') %>

   
</body>

</html>