<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
 
    <title> X-BUZ Careers page </title>

    <%- include('partials/meta') %>
    
     <%- include('partials/sos') %>


</head>

<body id="body" style="background-color: #000;">


    <%- include('partials/header') %>
        <%- include('partials/careerapply') %>

            <%- include('partials/footer') %>
 

</body>

</html>
