<%- include('partials/navigation') %>
    <style>
        #filter {
            width: 150px;
            position: absolute;
            right: 3px;
            top: 3px;
        }

        .well-sm {
            padding: 9px;
            position: relative;
            border-radius: 3px;
        }
        #infouser{
            position: absolute;
    right: 20px;
    font-size: 20px;
        }
        .nm{
                position: relative;
    padding-left: 20px;
    text-transform: capitalize;
        }
    </style>

    <div class="well well-sm" style="font-size: 10px;">
        <i id="infouser" class="fa fa-info-circle"  data-toggle="modal" data-target="#myModalHorizontals" ></i>
        send mail to <p><b style="font-size: 15px;"> (<%= datas[0].email_pengirim %>)</b>
        
        
        <div class="konten_komen" style="font-size: 15px;"><%= datas[0].isi_pesan %></div>
    </div>



    <div class="modal fade" id="myModalHorizontals" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        User information
                    </h4>

                </div>

                <!-- Modal Body -->

                <div class="modal-body">

                    <div class="form-group">
                         <i id="wrs" class="fa fa-male"></i>    
                        <span class="nm"><small style="font-size: 10px;">mr/mrs.</small> <%= datas[0].nama_pengirim %></span>
                    </div>
                      <div class="form-group">
<i id="wrs" class="fa fa-envelope"></i>
                                                  <span class="nm"> <%= datas[0].email_pengirim %></span>

                    </div>
                                          <div class="form-group">

                    <i id="wrs" class="fa fa-phone-square"></i><span class="nm"> <%= datas[0].no_tlp %></span>
                                              
                    </div>
                     <div class="form-group">

                   <span class="nm" style="font-size: 10px; padding-left: 0;"> <%= datas[0].tenggal_kirim %></span>
                                              
                    </div>
                </div>

                <!-- Modal Footer -->
             
            </div>
        </div>
    </div>






    <!-- Static navbar -->





    <ul id="ml" class="list-group">


        <!--for(var i=0; i< data.length; i++) {  -->
        <li class="list-group-item">
            <form id="copro">
                <%
                                    datas.forEach( function( a ) { %>
                     <input type="text" class="num" hidden name="idnum" value="<%- a.id_pesan %>">
                     <input type="text" class="mails" hidden name="namamail" value="<%- a.email_pengirim %>">
                     <input type="text" class="mails" hidden name="namapenguna" value="<%- a.nama_pengirim %>">

                    <textarea class="editme"></textarea>

                    <%
                
                })
                
                %>
                
                <input class="sub" type="text" name="sub" placeholder="Subject" style="    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dcd4d4;">
                        <textarea class="editme"></textarea>
                         <button type="button" id="x" class="btn btn-primary" style="margin-top: 10px;" id="x">
                   Post
                </button>
            </form>
        </li>

    </ul>




    <script>
        $(".editme").Editor({
            'togglescreen': false,
            'insert_table': false,
            'print': false,
            'source': false,
            'splchars': false,
            'insert_img': false,
            'fonts': false,
            'rm_format': false,
            'textformats': false, 
            'actions': false,
            'insertoptions': false,
            'extraeffects': false,
            'advancedoptions': false, 
            'select_all':false,
            'color': false


        });

        $(".Editor-editor").html($('.editme').val());
 
  




        $('#x').on('click', function(e) {
   console.log('kirim')
            $.post("https://www.xbuz.co.id/home/postmailtokomen", //Required URL of the page on server
                { // Data Sending With Request To Server
                    textme: $('.Editor-editor').html(),
                    mails: $('.mails').val(),
                    subject: $('.sub').val() 
                },
                function(response, status) { // Required Callback Function
                console.log(status)
                    if (response == 'sukses') {

                        location.reload();
                    }
                });
            /*      $.ajax({
             type: "POST",
             url: '/home/copropost',
             data: $("#copro").serialize(), // serializes the form's elements.
             success: function (data) {
                                  if (data == 'sukses') {

                                                         location.reload();
                                  }
             }
   */
        });

    </script>
    <%- include('partials/footer') %>
