<%- include('partials/navigation') %>
    <style>
        #filter {
            width: 150px;
            position: absolute;
            right: 3px;
            top: 3px;
        }

        .well-sm {
            padding: 9px;
            position: relative;
            border-radius: 3px;
        }

        [hidden] {
            display: none !important;
        }

        #btn {
            margin-bottom: 20px;
        }

        #bla {
            background: #ebebeb;
            width: 50px;
            right: 15px;
            height: 50px;
            position: absolute;
        }

    </style>
    <div class="well well-sm">
        <button id="tomboltmb" data-toggle="modal" data-target="#myModalHorizontals" class="btn btn-xs btn-success">
          Add new career data
                 </button>
        <input id="filter" type="text" class="form-control" onkeyup="myFunction()" placeholder="Filter">
<div class="tops" style="
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
    font-size:  13px;
    padding-bottom: 10px;
    background: #dadada;
">Selalu membuat kategori karir baru bila konten karir masih kosong</div>
    </div>



    <div class="modal fade" id="myModalHorizontals" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        Add new career data
                    </h4>

                </div>

                <!-- Modal Body -->
                <form id='uploadForms' action='/home/karirnewposting' method='post' encType="multipart/form-data">

                    <div class="modal-body">

                        <div class="form-group">
                            <input type="text" class="form-control" name="title" id="title" value="" placeholder="title career" />
                        </div>
                        

                     <% if(karirkategori){
                            %>

                        <select id="katkarir" style="padding: 5px;" name="kategorikarir">
 
                            <% 
                            karirkategori.forEach( function( a ) { 
                                %>
  <option value="<%= a.id_kategori_karir %>"><%= a.nama_kategori_karir %></option>
 
                            <% }) %>
</select>
<% }else {} %>



                        <input type="text" name="karirid" id="katkarirs" hidden value="<% if(karirkategori){ %><%=karirkategori[0].id_kategori_karir %><% }else{ %><% } %>" />


                     
                        <div class="form-group">

                            <textarea class="editme"></textarea>
                            <textarea class="da" hidden name="texteditor"></textarea>

                        </div>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cancle
                </button>
                        <button type="button" onclick="submitform()" class="btn btn-primary" id="submits">
                   Save
                </button>


                    </div>
                </form>
            </div>
        </div>
    </div>





    <% if (message.length > 0) { %>
        <div class="alert alert-danger col-sm-12">
            <%= message %>
        </div>
        <% } %>
            <!-- Static navbar -->





            <ul id="ml" class="list-group">

                <% if (!datas) { %>
                    <li class="list-group-item">No data</li>
                    <% }else{ %>
                        <% 
                var cru, g;
                datas.forEach( function( student ) { 
                    if(student.img){
                        cru = '<img id="imgg" src="/artikelimage/'+student.img+'">';
                        g = 'padding-left: 50px;'
                    }else{
                        cru = ''
                                                g = 'padding-left: 0;'

                    }
                    
                    %>
                            <!--for(var i=0; i< data.length; i++) {  -->

                            <li class="list-group-item">

                                <%- cru %>
                                    <span class="wrppm" style=" <%- g %>">
                                <span class="tmtm" style="display: block;"><%= student.titpro %> </span>
                                    <span class="mnia"><span class="losp" style="display: block;"><%= student.penulis %></span>
                                    <%= student.publis %>
                                        </span>
                                        </span>
                                        <span class="pull-right" style="position: absolute;top: 10px; right: 10px;">
    <a class="a-inside edit" href="/home/editkarirposting/<%=student.id%>">  <button class="btn btn-xs btn-info" >Edit</button></a>
             <a class="a-inside delete" href="/home/newkarirdelete/delete/<%=student.id%>"> 
                 <button class="btn btn-xs btn-warning">
          Delete
                 </button>
            </a>
      </span> 
                            </li>
                            <% }) %>
                                <% } %>
            </ul>

            <% if (pageCount > 1) { %>
                <ul class="pagination">

                    <% var i = 1;
	            if (currentPage > 5) {
	                i = +currentPage - 4;
	            } %>
                        <% if (i !== 1) { %>
                            <li class="disabled"><a href="#">...</a></li>
                            <% } %>
                                <% for (i; i<=pageCount; i++) { %>
                                    <% if (currentPage == i) { %>
                                        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span>
                                        </li>
                                        <% } else { %>
                                            <li>
                                                <a href="/home/karir-page-panel/?page=<%= i %>">
                                                    <%= i %>
                                                </a>
                                            </li>
                                            <% } %>
                                                <% if (i == (+currentPage + 4)) { %>
                                                    <li class="disabled"><a href="#">...</a></li>
                                                    <% break; } %>
                                                        <% } %>

                </ul>
                <% } %>




                    <script>
                        $(".editme").Editor({
                            'togglescreen': false,
                            'insert_table': false,
                            'print': false,
                            'source': false,
                            'splchars': false,
                            'insert_img': false,
                            'fonts': false,
                            'rm_format': false,
                            'textformats': false,
                            'font_size': false,
                            'actions': false,
                            'insertoptions': false,
                            'extraeffects': false,
                            'advancedoptions': false,
                            'styles': false,
                            'color': false

                        });

                        $(".Editor-editor").html($('.editme').val());


                        function myFunction() {
                            var input, filter, ul, li, a, i;
                            input = document.getElementById("filter");
                            filter = input.value.toUpperCase();
                            ul = document.getElementById("ml");
                            li = ul.getElementsByTagName("li");
                            for (i = 0; i < li.length; i++) {
                                a = li[i];
                                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                    li[i].style.display = "";
                                } else {
                                    li[i].style.display = "none";

                                }
                            }
                        }
                        var myEl = document.getElementById('submit');


                        function readURL(input) {

                            if (input.files && input.files[0]) {
                                var reader = new FileReader();



                                reader.onload = function(e) {
                                    $('#bla').attr('src', e.target.result);
                                    $('#fake').val(e.target.result)
                                }

                                reader.readAsDataURL(input.files[0]);
                            }

                        }

                        $("#kum").change(function(e) {
                            var filePath = this.value;
                            // var tmppath = URL.createObjectURL(e.target.files[0]);

                            var allowedExtensions = /(\.jpg|\.jpeg|)$/i;
                            if (!allowedExtensions.exec(filePath)) {

                                return
                            } else {
                                readURL(this);
                            }
                        });





                        function submitform() {
                            //Do whatever   you want here //... 

                            var t = $(".Editor-editor").html();

                            var y = $('.da').val(t)
                            var k = $('.katkarir').val()


                          
                            if ( $('#katkarirs').val() === '') {
                                alert('please make some career category first')
                                return
                            }


                            if (!y) {
                                 alert('please check your input')

                                return
                            } else {

                                if (document.getElementById("uploadForms").files == 0) {

                                    return
                                } else {

                                    var form = document.getElementById('uploadForms'); // give the form an ID
                                    var xhr = new XMLHttpRequest(); // create XMLHttpRequest
                                    var data = new FormData(form); // create formData object

                                    var uploadProgress = document.getElementById('upload-bar');
                                    var uploadProgress;
                                    xhr.onload = function() {
                                        // console.log(this.responseText); // whatever the server returns
                                        location.reload();

                                    }


                                    xhr.upload.onloadstart = function(e) {
                                        uploadProgress.classList.add('visible');
                                        uploadProgress.setAttribute("aria-valuemin", 0);
                                        uploadProgress.setAttribute("aria-valuemax", e.total);
                                        // message.textContent = 'uploading...';
                                        form.disabled = true;
                                    };

                                    xhr.upload.onprogress = function(e) {

                                        uploadProgress.setAttribute("aria-valuenow", e.loaded);
                                        var progress = Math.ceil(((e.loaded) / e.total) * 100);
                                        // $("#dvProgressPrcent").html(progress + "%");
                                        uploadProgress.style.width = progress + '%';
                                        //  uploadProgress.set = e.loaded;
                                        $('#upload-bar').html(progress + "%");
                                        uploadProgress.max = e.total;
                                    };

                                    xhr.upload.onloadend = function(e) {
                                        uploadProgress.classList.remove('visible');
                                        // message.textContent = 'complete!';
                                        form.disabled = false;
                                    };


                                    xhr.open("post", form.action); // open connection
                                    xhr.send(data);
                                    // $('#IDModal').modal('toggle');  
                                }
                            }

                        };

                    </script>
                    <%- include('partials/footer') %>
